<div class="living-frame" aria-hidden="true">
  <div class="living-frame__meta living-frame__meta--top">
    <span>Composition 01</span>
    <span>Real-time preview</span>
  </div>

  <div class="living-frame__editor">
    <div class="living-frame__chrome">
      <span class="living-frame__status"><i></i> Live</span>
      <span>00:08:24</span>
    </div>

    <div class="living-frame__canvas">
      <div class="living-frame__grid"></div>
      <div class="living-frame__light"></div>
      <div class="living-frame__plane living-frame__plane--back"></div>
      <div class="living-frame__plane living-frame__plane--front"></div>
      <div class="living-frame__subject">
        <span class="living-frame__subject-index">01</span>
        <span class="living-frame__subject-word">Frame</span>
        <span class="living-frame__subject-rule"></span>
        <span class="living-frame__subject-caption">Motion in time</span>
      </div>
      <div class="living-frame__focus">
        <i></i><i></i><i></i><i></i>
      </div>
      <div class="living-frame__scan"></div>
    </div>

    <div class="living-frame__timeline">
      <div class="living-frame__timeline-labels">
        <span>00:00</span>
        <span>00:12</span>
      </div>
      <div class="living-frame__track">
        <span class="living-frame__clip"></span>
        <span class="living-frame__key living-frame__key--one"></span>
        <span class="living-frame__key living-frame__key--two"></span>
        <span class="living-frame__key living-frame__key--three"></span>
        <span class="living-frame__playhead"></span>
      </div>
    </div>
  </div>

  <div class="living-frame__layers">
    <span class="living-frame__layers-label">Layers</span>
    <span><i></i> Type</span>
    <span><i></i> Media</span>
    <span><i></i> Motion</span>
    <span><i></i> Audio</span>
  </div>

  <div class="living-frame__meta living-frame__meta--bottom">
    <span>Native composition</span>
    <span>60 fps</span>
  </div>
</div>
